#footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: Black;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
   bottom: 0;
}